alias git=hub
alias g=git

alias pma='python manage.py'
alias pmr='python manage.py runserver'
alias pmrp='python manage.py runserver_plus'

alias pmm='python manage.py migrate'
alias pmsm='python manage.py schemamigration'
alias pmdm='python manage.py datamigration'
alias pmmm='python manage.py makemigrations'
alias pmsp='python manage.py shell_plus'

alias pr='hub pull-request -i'
